.DS_Store
build/
AI and stopped/
nlohmann/
__history/
math/__history/
meta/database.h.gch
meta/dynamic_struct.h.gch
syntax/lexer.h.gch
syntax/parser.h.gch
type/__history/
type/__recovery/
vision/__history/
vision/color.h.gch
disjoint_set.h
disjoint_set留档.h
mod.h
*.gch